<!-- <div class="media">
    <h3 class="h3-responsive font-weight-bold mr-3">{{ value.time }}</h3>
    <div class="media-body mb-3 ">
        <mdb-badge (click)="handleDeleteClick()" danger="true" class="text-center float-right">-</mdb-badge>
      <h6 class="mt-0 font-weight-bold">{{ value.subject }}</h6>
      <hr class="hr-bold mb-0 my-2" />
      <p class="mb-0" *ngIf="value.location">
        <mdb-icon fas icon="location-arrow"></mdb-icon>
        {{ value.location }}
      </p>
    </div>
  </div>
  <p class="p-3 blue-grey lighten-5 blue-grey lighten-5" *ngIf="value.description">
    {{ value.description }}
  </p> -->
  <div class="row">
    <div class="col-1">
      <img src="{{'http:' + value.icon}}" style="height:40px; margin-top:3px; margin-left:15px">
    </div>
    <div class="col-11">
      <h4 class="h4-responsive font-weight-normal mr-3">{{ value.title }}</h4>
      <p class="mb-3" style="margin-top:-10px; color:dimgreys">{{ value.developer }}</p>
      <hr class="hr-bold mb-0 my-2" />
    </div>
  </div>