{% extends "base_generic.html" %}


{% block content %}
    {% for n in notification %}
  <h1> {{ n.Topic }}</h1>

  <p><strong>Topic:</strong> {{ n.Topic }}</p> <!-- author detail link not yet defined -->
  <p><strong>Detail:</strong> {{ n.Detail}}</p>
  <p><strong>posted date:</strong> {{ n.Created_date }}</p>
  <p><strong>Working Hour:</strong> {{ n.Working_Hour }}</p>
  <p><strong>Pay:</strong> {{ n.Pay }}</p>
        <img src={{ n.Picture.url }}>
    {% endfor %}
  <a href="{% url 'noti' %}">Back</a>

{% endblock %}